{{#each tasks as |task|}}

<tr data-id="{{task.id}}">
  <td>{{task.task}}</td>
  <td>{{task.notes}}</td>
  <td>
    <button class="btn btn-default edit-task-btn">Edit</button>
    <button class="btn btn-default delete-task-btn">Delete</button>
  </td>
</tr>

{{/each}}
